@font-face {
  font-family:'NineByFive';
  src:url('../fonts/nine0.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
}








body {
  min-height: 100vh;
  margin: 0;
  font-family:monospace;
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(0, 0, 0));
  padding: 20px; ;
}

nav{
  background-color: #ffffff00;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0);
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: #cacaca;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.356), rgba(0, 0, 0, 0.363));
  backdrop-filter:blur(4px);
  box-shadow: -10px 0 -10px (0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}





.title {
  font-family: 'NineByFive',monospace;
  text-align: center;
  color:rgb(0, 0, 0);
  font-size: 60px;
  margin-bottom: 30px;
}


.title2 {
    font-family: 'NineByFive',monospace;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 60px;
  margin-bottom: 30px;
}


.spacer {
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background: #ffffff;
  margin: auto;
}







@media(max-width:800px){
  .hideOnMobile{
    display: none;
  }
}
@media(max-width:400px){
  .sidebar{
    width: 100%;
  }
}